:root {
    --code-block-side-size: 10px;
    --code-block-side-color: #ff6f22;
    --answer-block-side-color: #3ddbff;
}

body {
    padding: 25px;
}

.question-container {
    width: 25vw;
    margin: auto;
}

.question-box {
    width: fit-content;
}

.box {
    margin: 5px;
    font-size: large;
    border: 0.5px solid #343434;
    border-radius: 5px;
    padding: 10px;
}

.code-box {
    padding-left: calc(10px + var(--code-block-side-size));
    background: linear-gradient(90deg, var(--code-block-side-color) var(--code-block-side-size), transparent var(--code-block-side-size));
}

.answer-textarea {
    padding-left: calc(10px + var(--code-block-side-size));
    background: linear-gradient(90deg, var(--answer-block-side-color) var(--code-block-side-size), transparent var(--code-block-side-size));
}